.left {
    margin-top: 2vh;
    height: 70vh;
    /* width: 50vw; */
    float: left;
}

.right {
    margin-top: 2vh;
    height: 70vh;
    width: 30vw;
    float: right;
}

.select-small {
    width: 80px;
}


td {
    color: blue;
}

.mapBox{
    height: 80vh;
    border-radius: 15px ;
}

.selecttype{
    width: 200px;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
